<<<<<<< Updated upstream
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> Goldy

:root {
  --darkgray: #A9A9A9;
  --purple1: #7B2FBE;
}

<<<<<<< HEAD
<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-image: url('/assets/dark-skyblock-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
=======
body {
>>>>>>> Stashed changes
=======
body {
>>>>>>> Goldy
  font-family: 'Poppins', sans-serif;
}